<style>
.chuck-thumb {
	height: 48px;
}
.main-chuck-canvas {
	border: 1px solid black;
}
</style>

<h2>Chuck generator</h2>
<!-- Inputs for selecting files -->
<input id="chuck-bg-select" type="file" accept="image/*" chuck-file-bind chuck-type="background"/>
<input id="chuck-front-select" type="file" accept="image/*" chuck-file-bind chuck-type="foreground"/>

<!-- Control buttons -->
<button class="btn btn-success" ng-click="$ctrl.draw()">Draw</button>
Save here:<br>
<img style="width: 128px; height: 96px" ng-src="{{downloadHref}}">

<!-- Foreground properties -->
<h3>Foreground props</h3>
<div class="form-inline">
	<div class="form-group">
		<label>Offset X</label>
		<input type="number" class="form-control" ng-model="offsetX" />
	</div>
	<div class="form-group">
		<label>Offset Y</label>
		<input type="number" class="form-control" ng-model="offsetY" />
	</div>
	<div class="form-group">
		<label>Scale</label>
		<input type="number" class="form-control" ng-model="scale" />
	</div>
</div>

<!-- Canvas -->
<div>
	<canvas class="main-chuck-canvas" width="640" height="480" chuck-canvas>
	</canvas>
</div>
